<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SQLServer" value="DESKTOP-NHLSQ82" />
    <add key="SQLDBName" value="AED_Regent_3" />
    <add key="SQLDBUser" value="sa" />
    <add key="SQLDBPWD" value="admin123" />
    <add key="BaseUrl" value="http://localhost:9000/" />
    <add key="DefaultAutoCountID" value ="ADMIN"/>
    <add key="DefaultAutoCountPWD" value="ADMIN"/>
    <add key="MappingAccount" value="330-1000|330-10010,330-3000|330-30010,330-4000|330-40010"/>
  </appSettings>
</configuration>